@use "../utils/global" as *;

.navbar {
  @include container;
  @include flex;
  align-items: center;
  justify-content: space-between;
  height: $nav-h;
  background-color: $main-color;
  color: whitesmoke;
  position: fixed;
  top: 0;
  z-index: 1;

  > * {
    @include flex;
    @include center;
  }

  .left {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
    justify-content: flex-start;
    padding-left: 50px;
    .sidebar {
      position: relative;
      cursor: pointer;
    }
    .logo {
      padding: 0.6rem 0.2rem 0.4rem 0.2rem;
    }

    .links {
      ul {
        display: flex;
        list-style: none;
        gap: 1rem;
      }
    }
  }

  .right {
    width: 100%;
    height: 100%;
    margin-right: 1rem;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 50px;

    > div:not(searchBar) {
      @include flex;
      @include center;
    }

    .searchBar {
      $src-wd: 15vw;
      width: fit-content;
      position: relative;
      @include flex;
      flex-direction: column;
      background-color: transparent;

      input {
        height: 100%;
        margin-left: 8px;
        width: $src-wd;
        border: none;
        outline: none;
        background-color: transparent;
        color: whitesmoke;
        border-bottom: 1.5px solid whitesmoke;
        padding-bottom: 6px;
        transition: ease-in-out, width 0.35s ease-in-out;

        &:focus {
          width: 30vw;
          border-bottom: 2px solid $accent-color;
        }
      }
    }
  }
}
