@use "../utils/global" as *;

.selector {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-auto-rows: minmax(130px,1fr);
  justify-items: center;
  margin: 1rem 1rem;
  padding: 1rem 1rem; 
  align-items: center;
  justify-content: center;
  gap: 1rem;
  

  .select-bx {
    width: 80%;
    height: 100%;
    background-color: $gradient_bg; 
    border-radius: 8px;
    border: 2px solid hsl(0, 2%, 61%);
  }
}

.LpMain {
  margin: 1rem 0;
  gap: 1rem;

  h3{
    font-family: $font-main;
    color: white;
    font-weight: 400;
    padding: 0.5rem 0;
  }

  .list-items {
    width: 168px;
    height: 223px;
    background-color: whitesmoke;
  }
}


