@use "../utils/global" as *;

.selector {
  margin: 0.7rem 0.5rem;
  padding: 0.5rem 0.5rem; 
  gap: 1.5rem;
  

  .select-bx {
    height: 125px;
    background-color: whitesmoke;
    border-radius: 8px;
  }
}

.LpMain {
  margin: 1rem 0;
  gap: 1rem;

  h3{
    font-family: $font-main;
    color: white;
    font-weight: 400;
    padding: 0.5rem 0;
  }

  .list-items {
    width: 168px;
    height: 223px;
    background-color: whitesmoke;
  }
}
